.language button {
  width: 31px;
  height: 21px;
  margin-right: 10px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.language button.pt {
  background: url('./img/pt_flag.jpg') 0 0 no-repeat;
}

.language button.en {
  background: url('./img/en_flag.jpg') 0 0 no-repeat;
}

.language button.active {
  height: 26px;
  border-bottom: 5px solid #fff;
}
